# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# React Native
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Android
android/app/build/
android/.gradle/
android/.idea/
android/.settings/
android/.cxx/
android/local.properties
android/.DS_Store
android/app/debug.keystore

# iOS
ios/

# VSCode
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Test coverage
coverage/

# Misc
.env
*.swp
*.swo
*.tmp
*.bak
*.orig
*.patch
